html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
header {
  font-size: 20px;
}
.aboutnavbar {
  border-left: black solid 2px;
  border-right: black solid 2px;
}
.navbar {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  text-align: center;
  display: flex;
  justify-content: center;
}
.title-container {
  position: relative;
  text-align: center;
  color: yellow;
}
.centeredBoxText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}
.centeredBoxText .contactUs {
  font-size: 20px;
  background-color: #FFFFFF;
  color: black;
  border: 5px;
}
.artists-container {
  display: flex;
}
.artist {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  text-align: center;
  padding: 5%;
}
.artist img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}
